{% extends 'base.html' %}


{% block title %} Student List {% endblock%}

{% block content %}


<button><a href="{% url 'add_unit' %}" > Add Unit </a></button>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th> Code</th>
        <th>Title</th>
        <th> Edit Unit</th>
        <th> Delete Unit </th>

    </tr>
    {% for unit in units %}

    <tr>
        <td>{{ unit.id}}</td>
        <td>{{ unit.code }}</td>
        <td>{{ unit.title }}</td>
        
        <td>
            <a href="{% url 'edit_unit' id=unit.id%}">Edit</a>          
        </td>
        <td>
            <a href="{% url 'delete_unit' id=unit.id%}"> Delete </a>
        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
    


