<!--Wanjala Stephen David-->
<!-- IN16/00055/20-->



{% extends 'base.html' %}

{% block title %} Student List {% endblock%}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary" type="button" style="margin:20px;margin-right:20%">
        <a href="{% url 'add_unit' %}" class="link-dark">
            <span class="badge text-bg-primary"> Add Unit </span>
        </a>
    </button>
</div>




<table class="table table-striped" style="margin:20px;text-align:center;">
    <tr>
        <th></th>
        <th> Code</th>
        <th>Title</th>
        <th> Edit Unit</th>
        <th> Delete Unit </th>

    </tr>
    {% for unit in units %}

    <tr>
        <td>{{ unit.id}}</td>
        <td>{{ unit.code }}</td>
        <td>{{ unit.title }}</td>
        
        <td>
            <a href="{% url 'edit_unit' id=unit.id%}">Edit</a>          
        </td>
        <td>
            <a href="{% url 'delete_unit' id=unit.id%}"> Delete </a>
        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
    


