 {% load static %}
<Link rel="stylesheet" type="text/css" href="{% static 'student/css/student_list.css' %}">


<button><a href="{% url 'add_class' %}" > Add Class </a></button>
<table>
    <tr>
        <th>Id</th>
        <th> Class Name</th>
        <th>Unit Code</th>

    </tr>
    {% for unit_class in classes %}

    <tr>
        <td>{{ unit_class.id}}</td>
        <td>{{ unit_class.class_name }}</td>
        <td>{{ unit_class.unit_code }}</td>
        <td>
            <a href="{% url 'edit_class' id=unit_class.id%}">Edit</a>          
        </td>
        <td>
            <a href="{% url 'delete_class' id=unit_class.id%}"> Delete </a>
        </td>

    </tr>
    {% endfor %}
</table>

    


