<!--Wanjala Stephen David-->
<!-- IN16/00055/20-->

{% extends 'base.html' %}

{% block title %} Class List {% endblock%}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary" type="button" style="margin:20px;margin-right:20%">
        <a href="{% url 'add_class' %}" class="link-dark">
            <span class="badge text-bg-primary">Create Class</span> </a>
    </button>
  </div>


  <table class="table table-striped" style="margin:auto;text-align:center;">
    <tr>
        <th></th>
        <th> Class Name</th>
        <th>Unit Code</th>
        <th> Edit</th>
        <th> Delete </th>
        <th>Add Students </th>

    </tr>
    {% for unit_class in classes %}

    <tr>
        <td>{{ unit_class.id}}</td>
        <td>{{ unit_class.class_name }}</td>
        <td>{{ unit_class.unit_code }}</td>
        <td>
            <a href="{% url 'edit_class' id=unit_class.id%}">Edit</a>          
        </td>
        <td>
            <a href="{% url 'delete_class' id=unit_class.id%}"> Delete </a>
        </td>
        <td>
           <a href="{% url 'all_available_courses' id=unit_class.id%}"> Available Courses</a>
        </td>

    </tr>
    {% endfor %}
</table>

    


{% endblock %}