{% extends 'base.html' %}


{% block title %} Student List {% endblock%}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary" type="button" style="margin:20px;margin-right:20%"> <a href="{% url 'add_class' %}" class="link-dark">Create Class </a> </button>
  </div>


<table class="table table-striped" >
    <tr>
        <th>Id</th>
        <th> Class Name</th>
        <th>Unit Code</th>
        <th> Edit</th>
        <th> Delete <th>

    </tr>
    {% for unit_class in classes %}

    <tr>
        <td>{{ unit_class.id}}</td>
        <td>{{ unit_class.class_name }}</td>
        <td>{{ unit_class.unit_code }}</td>
        <td>
            <a href="{% url 'edit_class' id=unit_class.id%}">Edit</a>          
        </td>
        <td>
            <a href="{% url 'delete_class' id=unit_class.id%}"> Delete </a>
        </td>
        <td>
          <!--  <a href="{% url 'all_available_courses' id=unit_class.id%}"> Delete </a>-->
        </td>

    </tr>
    {% endfor %}
</table>

    


{% endblock %}