<!--Wanjala Stephen David-->
<!-- IN16/00055/20-->
 
{% extends 'base.html' %}

{% block title %} Add to Class {% endblock%}

{% block content %}

<table class="table table-striped" style="margin:20px;text-align:center">
    <tr>
        <th></th>
        <th> Class Name</th>
        <th>Unit Code</th>
        <th> Add to class </th>

    </tr>
    {% for unit_class in classes %}

    <tr>
        <td>{{ unit_class.id}}</td>
        <td>{{ unit_class.class_name }}</td>
        <td>{{ unit_class.unit_code }}</td>
        <td>
              <a href="{% url 'add_one_student_to_class' class_id=unit_class.id student_id=id_number %}"> Add </a>         
        </td>

    </tr>
    {% endfor %}
</table>

{% endblock %}
    


