{% load static %}
<Link rel="stylesheet" type="text/css" href="{% static 'student/css/student_list.css' %}">


<table>
    <tr>
        <th>Id</th>
        <th> Class Name</th>
        <th>Unit Code</th>
        <th> Add to class </th>

    </tr>
    {% for unit_class in classes %}

    <tr>
        <td>{{ unit_class.id}}</td>
        <td>{{ unit_class.class_name }}</td>
        <td>{{ unit_class.unit_code }}</td>
        <td>
            <a href="{% url 'add_to_class' class_name=unit_class.class_name%}"> Add </a>          
        </td>

    </tr>
    {% endfor %}
</table>

    


