<!--Wanjala Stephen David-->
<!-- IN16/00055/20-->

{% extends 'base.html' %}

{% block title %} Student List {% endblock%}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary" type="button" style="margin:20px;margin-right:20%">
         <a href="{% url 'all_available_classes' id=student.id %}" class="link-dark">
            <span class="badge text-bg-primary">Add to class</span>
        </a> </button>
</div>

    
    {% if classes %}
<table class="table table-striped" style="text-align:center">
    <tr>
        <th> </th>
        <th> Name </th>
        <th>Registeration Number</th>
        <th> Class Name</th>
        <th> Cat 1</th>
        <th> Cat 2</th>
        <th> Cat 3 </th>
        <th> Final Exam Marks </th>
        <th> Add marks </th> 
        <th>Mark sheet</th>

    </tr>
  
        {% for class in classes %}
        <tr>
            <td> {{ class.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ class.student_reg_no }}</td>
            <td>{{ class.class_name }}</td>
            <td> {{ class.cat1 }}</td>
            <td> {{ class.cat2 }}</td>
            <td> {{ class.cat3 }}</td>
            <td> {{ class.final_exam }}</td>
            <td>
                <a href={% url 'add_marks' id=class.id %}> Add </a>
            </td> 
            <td>
                <a href={% url 'generate_mark_sheet' student_id=student.id class_id=class.id  %}> Generate </a>
            </td> 

        </tr>
        {% endfor %}
    {% else%}
        <h3>Not Enrolled in any classes <h3>
    {%  endif %}
</table>

    
{% endblock %}

