{% extends 'base.html' %}

{% block title %} Student List {% endblock%}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
   
    <button class="btn btn-primary" type="button" style="margin:20px;margin-right:20%"> <a href="{% url 'add_student' %}" class="link-dark">Add student</a> </button>
  </div>

<h1> Student List </h1>
<table class="table table-striped" style="margin:20px">
    <tr>
        <th>Id</th>
        <th> Name</th>
        <th>Registeration Number</th>
        <th> Major course of study </th>
        <th> Edit Student </th>
        <th>delete Student</th>
        <th> Enroled classes </th>
    

    </tr>
    {% for student in students %}

    <tr>
        <td>{{ student.id}}</td>
        <td>{{ student.name }}</td>
        <td> {{ student.registeration_number }}</td>
        <td> {{ student.major_course_of_study }}</td>
        <td>
            <a href="{% url 'edit_student' id=student.id%}">Edit</a>          
        </td>
        <td>
            <a href="{% url 'delete_student' id=student.id%}"> Delete </a>

        </td>
        <td>
            <a href="{% url 'enrolled_classes' student_id=student.id %}">Enrolled classes</a>
        </td>

    </tr>
    {% endfor %}
</table>

{% endblock %}

    


