<!-- student_list.html -->
<link rel="stylesheet" type="text/css" href="{% static 'student/css/your_css_file_name.css' %}">

<table>
    <tr>
        <th>First Name </th>
        <th>Last Name</th>
        <th>Registeration Number</th>

    </tr>
    {% for student in students %}

    <tr>
        <td>{{ student.first_name }}</td>
        <td> {{ student.last_name }}</td>
        <td> {{ student.registeration_number }}</td>
        <td>
            <a href="{% url_for('edit_student', registeration_number="IN16/00055/20") %}">Edit</a>          
        </td>
    </tr>
    {% endfor %}
</table>

    


